.form {
    display: flex;
    justify-content: center;

}

.Transactions {
    border: solid black 2px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: orange;
    box-shadow: 3px 3px;
}

.name {
    font-size: 45px;
}